body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gellery {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gellery img {
    filter: grayscale(100%);
    transition: filter 0.8s ease;
}

.gellery img:hover {
    filter: none;
    cursor: pointer;
}